@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass');
$open: 'Open Sans', sans-serif;
$overpass: 'Overpass', sans-serif;
$calibri: 'Calibri', sans-serif;
$brand: #8c0002;
$gray: #3d3d3d;
$background: #f7f7f7;

* {
  margin: 0;
  padding: 0;
}

.row {
  margin: 20px 0 !important;
}

html, body {
  background: $background;
}

h1, h3, h4, h5, h6 {
  font-family: $calibri;
  text-transform: uppercase;
}

h2, span, {
  font-family: $open;
  text-transform: uppercase;
}

section.banner {
  background: $brand;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  margin: 0 !important;
  text-align: center;
  p {
    display: inline;
  }
  #message {
    margin-right: 10px;
  }
}

header.nav {
  margin-bottom: 15px;
  section {
    h1 {
      margin: 20px 0 10px 0;
      color: #8c0002;
      font-family: $calibri;
      font-style: italic;
      font-size: 45px;
    }
    ul {
      margin-top: 25px;
      padding-left: 30px;
      border-left: 2px solid $brand;
      li {
        display: inline-block;
        padding: 10px 10px;
        margin: 0 5px;
        cursor: pointer;
        text-align: center;
        a {
          color: $gray;
          text-decoration: none;
        }
      }
      li:hover {
        a {
          color: $brand;
        }
      }
    }
  }
  .left {
    text-align: center;
  }
  .middle {
    padding-left: 10px;
  }
  .right {
    text-align: center;
    margin-top: 20px;
    .fa-facebook, .fa-twitter, .fa-instagram {
      font-size: 20px;
      margin: 5px 0;
      padding: 10px 10px;
      cursor: pointer;
      color: $gray;
    }
    .fa:hover {
      color: $brand;
    }
  }
}

section.main.gymPic {
  background: url('../img/pic2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-left: 2px solid $brand;
}

article.main.welcome {
  margin: 20px 0;
  padding: 0;
  .left {
    padding-right: 15px;
    padding-left: 0px;
    h1 {
      margin-top: 20%;
      text-align: center;
    }
  }
  .right {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    background: #fff;
    color: $brand;
    border-bottom: 2px solid $brand;
    h2 {
      padding-bottom: 10px;
      border-bottom: 2px solid $background;
      margin-bottom: 20px;
      width: 70%;
    }
  }
  .right:hover {
    box-shadow: 0px 0px 20px #d3d3d3;
  }
  ul {
    margin-bottom: 20px;
    li {
      list-style-type: none;
      margin: 5px 0;
      color: $gray;
      strong {
        color: $brand;
        margin-right: 15px;
      }
    }
  }
}

section.main.quote {
  background: #fff;
  text-align: center;
  padding: 0 100px;
  margin-bottom: 20px;
  border-left: 2px solid $brand;
  h3 {
    margin: 30px 0;
  }
}

section.main.quote:hover {
  box-shadow: 0px 0px 20px #d3d3d3;
}

article.main.info {
  padding: 0;
  margin-bottom: 40px !important;
  .left {
    padding: 25px 50px;
    background: #fff;
    color: $gray;
    border-right: 2px solid $brand;
    margin-bottom: 20px;
    h2 {
      color: $brand;
      padding-bottom: 10px;
      border-bottom: 2px solid $background;
      margin-bottom: 20px;
      width: 70%;
    }
  }
  .left:hover {
    box-shadow: 0px 0px 20px #d3d3d3;
  }
  .right {
    padding: 0;
    background: #8c0002;
    color: #fff;
    text-align: center;
    a {
      color: #fff;
      text-decoration: none;
      margin-bottom: 10px;
      text-align: center;
    }
    h1 {
      margin: 0;
      padding: 10px;
    }
  #map {
    width: 100%;
    height: 400px;
    margin-top: 10px;
    background-color: grey;
    }
  }
}

footer.footer {
  margin: 0 !important;
  background: #fff;
  padding: 12px 30px;
  border-top: 2px solid $brand;
  p {
    margin: 0;
  }
  .right {
    text-align: right;
  }
}

// Media Styling

@media screen and (max-width: 994px) {
  header.nav {
    section.middle {
    text-align: center;
    ul {
      margin: 0;
      padding: 0;
      border: none;
      }
    }
    section.right {
      margin: 0;
    }
  }

  section.gymPic {
    border-left: none !important;
  }

  article.main.welcome {
    .left {
      margin: 20px 0 40px 0;
      background: #fff;
      h1 {
        margin: 0;
        padding: 20px 0;
      }
    }
  }

  section.main.quote {
    margin: 40px 0;
    h3 {
      margin: 0;
      font-size: 22px;
      padding: 20px 0;
    }
  }

  article.main.info {
    .left {
      margin-bottom: 40px;
    }
  }

  footer.footer {
    .left {
      text-align: center;
    }
    .right {
      text-align: center;
    }
  }

  .row {
    margin: 0;
  }
}

@media screen and (max-width: 770px) {
  body.container {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .row, .col-md-6 {
    margin: 0;
  }
}
