@import url('href="https://fonts.googleapis.com/css?family=Open+Sans|Overpass');
$open: 'Open Sans', sans-serif;
$overpass: 'Overpass', sans-serif;
$brand: #761215;
$gray: #3d3d3d;
$background: #f7f7f7;

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: $background;
}

header.nav {
  margin-bottom: 15px;
  section {
    h1 {
      margin-top: 30px;
      color: $brand;
    }
    ul {
      margin-top: 25px;
      padding-left: 30px;
      border-left: 2px solid $brand;
      li {
        display: inline-block;
        padding: 10px 10px;
        margin: 0 5px;
        cursor: pointer;
        color: $gray;
      }
      li:hover {
        color: $brand;
        font-weight: bold;
      }
    }
  }
  .col-md-7 {
    padding-left: 35px;
  }
  .col-md-3 {
    text-align: center;
    margin-top: 20px;
    .fa-facebook, .fa-twitter, .fa-instagram {
      font-size: 20px;
      margin: 5px 0;
      padding: 10px 10px;
      cursor: pointer;
      color: $gray;
    }
    .fa:hover {
      color: $brand;
    }
  }
}

.main.gymPic {
  background: url('../img/pic1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.main.welcome {
  ul {
    li {
      list-style-type: none;
      strong {
        margin-right: 10px;
      }
    }
  }
}
