@import url('https://fonts.googleapis.com/css?family=Open+Sans|Overpass');
$open: 'Open Sans', sans-serif;
$overpass: 'Overpass', sans-serif;
$brand: #8c0002;
$gray: #3d3d3d;
$background: #f7f7f7;

* {
  margin: 0;
  padding: 0;
}

html, body {
  background: $background;
}

h1, h3, h4, h5, h6 {
  font-family: $overpass;
  text-transform: uppercase;
}

h2, p, span, li {
  font-family: $open;
}

section.banner {
  background: $brand;
  color: #fff;
  padding: 8px;
  font-weight: bold;
  margin: auto;
  text-align: center;
  p {
    display: inline;
  }
  #message {
    margin-right: 10px;
  }
}

header.nav {
  margin-bottom: 15px;
  section {
    h1 {
      margin-top: 30px;
      color: $brand;
    }
    ul {
      margin-top: 25px;
      padding-left: 30px;
      border-left: 2px solid $brand;
      li {
        display: inline-block;
        padding: 10px 10px;
        margin: 0 5px;
        cursor: pointer;
        a {
          color: $gray;
          text-decoration: none;
        }
      }
      li:hover {
        a {
          color: $brand;
          font-weight: bold;
        }
      }
    }
  }
  .left {
    text-align: center;
  }
  .middle {
    padding-left: 10px;
  }
  .right {
    text-align: center;
    margin-top: 20px;
    .fa-facebook, .fa-twitter, .fa-instagram {
      font-size: 20px;
      margin: 5px 0;
      padding: 10px 10px;
      cursor: pointer;
      color: $gray;
    }
    .fa:hover {
      color: $brand;
    }
  }
}

section.main.gymPic {
  background: url('../img/pic2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
  border-left: 2px solid $brand;
}

article.main.welcome {
  margin: 20px 0;
  padding: 0;
  .left {
    padding-right: 15px;
    padding-left: 0px;
    h1 {
      margin-top: 20%;
      text-align: center;
    }
  }
  .right {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    background: #fff;
    color: $brand;
    border-bottom: 2px solid $brand;
    h2 {
      padding-bottom: 10px;
      border-bottom: 2px solid $gray;
      margin-bottom: 20px;
      width: 70%;
    }
  }
  .right:hover {
    box-shadow: 0px 0px 20px #d3d3d3;
  }
  ul {
    margin-bottom: 20px;
    li {
      list-style-type: none;
      margin: 5px 0;
      color: $gray;
      strong {
        color: $brand;
        margin-right: 15px;
      }
    }
  }
}

section.main.quote {
  background: #fff;
  text-align: center;
  padding: 0 100px;
  margin-bottom: 20px;
  border-left: 2px solid $brand;
  h3 {
    margin: 30px 0;
  }
}

section.main.quote:hover {
  box-shadow: 0px 0px 20px #d3d3d3;
}

article.main.info {
  padding: 0;
  .right {
    padding: 0;
    h1 {
      text-align: center;
      margin: 0;
      background: #8c0002;
      color: #fff;
      padding: 10px;
    }
    #map {
      width: 100%;
      height: 400px;
      background-color: grey;
    }
  }
}
